<!DOCTYPE html>
<html>
  <head>
    <title>ProfileWebsiteRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "main-menu-bar">
      <nav class= "navbar navbar-expand-sm bg-dark navbar-dark">
        <div class= "navbar-nav">
          <a class= "nav-item nav-link" href= "/homepage">Home</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <div class= "navbar-nav">
            <a class= "nav-item nav-link" href= "/projects">Projects</a>
            <a class= "nav-item nav-link" href= "/sharing">Sharing</a>
            <a class= "nav-item nav-link" href= "/blog">Comments</a>
            <a class= "nav-item nav-link" href= "/contact">Contact Me</a>
          </div>
        </div>
      </nav>      
    </div>
    <%= yield %>
    <nav class= "footer navbar-expand-sm bg-dark navbar-dark"></nav>
  </body>
</html>
